@define-color bg #181f1c;
@define-color fg #f3f3f3;
@define-color gray1 #8a9590;
@define-color gray2 #cbcecd;
@define-color gray3 #aab2ae;
@define-color gray4 #9aa39f;
@define-color gray5 #bac0be;
@define-color fg_bright #f3f3f3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}